# Absolute or repo-relative path to the folder containing user/session data.
# Example macOS:
# USER_DATA_DIR=/Users/max/Data/semg-manus-manager
# Example Windows:
# USER_DATA_DIR=C:/Users/Max/Data/semg-manus-manager
USER_DATA_DIR=./user_data

# Optional: path to the hand visualiser app.
VISUALISER_PATH=E:/Pycharm Projects 10/sEMG-manus-hand-renderer
